<div class="container padding-large" id="loginRegister">
    <h1 class="jumbo"><b>Books For You</b></h1>
    <h2><b>Login or Register</b></h2>
    <div class="row-padding section">
        <div class="half">
            <h3>Login</h3>
            <form action="/login" method="post">
                <label>Nickname</label>
                <label>
                    <input class="input border" type="text" name="nickname" required>
                </label>
                <label>Password</label>
                <label>
                    <input class="input border" type="password" name="password" required>
                </label>
                <button type="submit" class="button black margin-top">Login</button>
            </form>
        </div>
        <div class="half">
            <h3>Register</h3>
            <form action="/register" method="post">
                <label>Name</label>
                <label>
                    <input class="input border" type="text" name="name" required>
                </label>
                <label>Nickname</label>
                <label>
                    <input class="input border" type="text" name="nickname" required>
                </label>
                <label>Password</label>
                <label>
                    <input class="input border" type="password" name="password" required>
                </label>
                <button type="submit" class="button black margin-top">Register</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container padding-32 dark-grey">
    <div class="row-padding">
        <div class="third">
            <h3>Rate Books</h3>
            <p>Share your thoughts and help others find their next favorite read!</p>

        </div>

        <div class="third">
            <h3>Get Recommendations</h3>
            <p>Personalized book suggestions tailored just for you! Using the newest machine learning model
            the KNN!</p>

        </div>

        <div class="third">
            <h3>Discover New Books</h3>
            <p>Explore the latest releases and hidden gems!</p>

        </div>

    </div>
</footer>
<div class="black center padding-24">Oskar Kalbarczyk s27773</div>

