{% extends "base.html" %}

{% block title %}Books For You - Home{% endblock %}

{% block content %}
<header id="explore">
    <div>
        <h1><b>Explore</b></h1>
        <div style="border-bottom: 1px solid #ccc; padding: 16px 0;">
            <form method="GET" action="{{ url_for('home') }}">
                <label>
                    <input type="text" name="title" placeholder="Search by title" style="padding: 8px; margin-right: 8px;">
                </label>
                <label>
                    <input type="text" name="author" placeholder="Search by author" style="padding: 8px; margin-right: 8px;">
                </label>
                <label>
                    <input type="number" name="year" placeholder="Search by year" style="padding: 8px; margin-right: 8px;">
                </label>
                <label>
                    <input type="text" name="genre" placeholder="Search by genre" style="padding: 8px; margin-right: 8px;">
                </label>
                <button type="submit" style="padding: 8px;">Search</button>
            </form>
        </div>
    </div>
</header>

<div class="book-grid">
    {% for book in books %}
        <div class="book-card" data-book-id="{{ book.id }}">
            <img src="{{ book.cover_photo_url }}" alt="Book cover" onerror="handleImageError(this)"/>
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p><strong>Short Description:</strong></p>
            <p>{{ book.short_description.split(' ')[:100] | join(' ') }}...</p>
            <p><strong>Genre:</strong> {{ book.genre }}</p>
            <p><strong>Year:</strong> {{ book.publication_year }}</p>
            <button class="like-button" onclick="toggleLike({{ book.id }}, {{ book.liked_by_user | lower }})"
                    style="background-color: {% if book.liked_by_user %}darkslategray{% else %}teal{% endif %}; color: white; padding: 8px 16px; border: none;">
                {% if book.liked_by_user %}Liked{% else %}Like{% endif %} ({{ book.likes }})
            </button>
        </div>
    {% endfor %}
</div>

<div style="text-align: center; padding: 32px;">
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('home', page=page-1) }}" style="padding: 8px 16px; border: 1px solid #ccc; text-decoration: none; color: black;">«</a>
        {% endif %}
        <span style="padding: 8px 16px; background-color: black; color: white; text-decoration: none;">{{ page }}</span>
        {% if books|length == 5 %}
            <a href="{{ url_for('home', page=page + 1) }}" style="padding: 8px 16px; border: 1px solid #ccc; text-decoration: none; color: black;">»</a>
        {% endif %}
    </div>
</div>
{% endblock %}
