<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="wrapper">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="title">
      <h1>Register</h1>

    </div>
    <div class="input-box">
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required>
      <i class='bx bxs-envelope'></i>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Username" [(ngModel)]="userName" name="userName" required>
      <i class='bx bxs-user'></i>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
      <i class='bx bxs-lock-open-alt' ></i>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn">Login</button>

    <div class="login-link">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>

  </form>
</div>

<div class="author-credit">
  <a href="https://pl.freepik.com/darmowe-psd/tropikalne-tlo-lisci_4264977.htm#from_view=detail_alsolike" target="_blank">
    Image by rawpixel.com on Freepik
  </a>
</div>
