<nav class="navbar">
  <div class="navbar-logo">
    <img ngSrc="assets/logo.png" alt="App Logo" height="500" width="500"/>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/recommendations">Recommendations</a></li>
  </ul>
  <div class="navbar-actions">
    <li *ngIf="true; then thenBlock else elseBlock"></li>
    <ng-template #thenBlock><a routerLink="/login">Login</a></ng-template>
    <ng-template #elseBlock><li><a routerLink="/logout">Logout</a></li></ng-template>
  </div>
</nav>
